# Ignore everything
/*

# Except
!.gitignore
#!.gitmodules
!.bashrc
#!.spectrwm.conf
#!.baraction.sh
#!.xsession
!.xprofile
#!.Xresources
!.config
#!.local
!.bash_aliases
!.help
!wallpapers/
!.zshrc
!.fehbg
